@font-face {
  font-family: "Banfont";
  src: url("./fonts/NeueHansKendrick-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "BanAddress";
  src: url("./fonts/OverpassMono-Regular.ttf") format("truetype");
}
body {
  font-family: "Banfont";
  width: 450px;
  background-image: url(https://banano.cc/assets/bg-faucet.svg);
}
.main__user-page {
  display: flex;
}
.main__user--section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1 {
  margin: 5px 0;
  font-size: 18px;
  font-weight: bold;
  color: white;
}
h2 {
  margin: 5px 0;
  font-size: 16px;
  font-weight: normal;
  color: #2a2a2e;
}
a p {
  margin: 5px 0;
  font-size: 14px;
  color: #2a2a2e;
  display: flex;
  word-break: break-all;
  padding-top: 10px;
}
.main__user--section .qrcode--title {
  padding-left: 21px;
}
.user--address {
  display: flex;
  align-self: center;
  align-items: center;
}

.qrcode--user {
  align-self: center;
  width: 140px;
}

.pepe--user {
  height: 92px;
  align-self: flex-end;
}
.styleOfInput {
  font-family: "BanAddress";
  color: #2a2a2e;
}
.user__form-tip {
  font-size: 14px;
  padding: 2px;
  width: 490px;
  display: flex;
  height: auto;
}

.styleOfError {
  font-family: "Banfont";
  margin: 5px 0;
  font-size: 18px;
  font-weight: normal;
  color: #2A2A2E;
}

.copy {
  height: 0;
  width: auto;
  font-size: 16px;
  background-color: rgba(87, 86, 86, 0.8);
  color: white;
  opacity: 0;
  margin: 0;
}

.copy.done {
  animation: blink 2s ease;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    margin-top: 10px;
    height: 25px;
    padding: 5px;
    opacity: 1;
  }
  100% {
    height: 0;
    padding: 0;
    opacity: 0;
  }
}
.main__user-page.ban--amount {
  display: flex;
  flex-direction: column;
}
.main__user--section.ban--amount {
  flex-direction: row;
  justify-content: space-evenly;
}

.pepe--user.qr--code {
  height: 100px;
}

.qrcode--section {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
