@font-face {
  font-family: "Banfont";
  src: url("./fonts/NeueHansKendrick-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "BanAddress";
  src: url("./fonts/OverpassMono-Regular.ttf") format("truetype");
}
body {
  font-family: "Banfont";
  width: 500px;
  background-image: url(https://banano.cc/assets/bg-faucet.svg);
}

h1 {
  margin: 5px 0;
  font-size: 18px;
  font-weight: bold;
  color: white;
}
h2 {
  margin: 5px 0;
  font-size: 16px;
  font-weight: normal;
  color: #2a2a2e;
}
p {
  margin: 5px 0;
  font-size: 12px;
  color: #2a2a2e;
  display: flex;
 }
table {
	vertical-align: bottom;
}
.styleOfInput{
  font-family: "BanAddress";
  color: #2a2a2e;
}
.user__form-tip {
  font-size: 12px;
  border: 0;
  padding: 3px;
  width: 490px;	
  display: flex;
  height: auto;
}
.styleOfError{
  font-family: "Banfont";	
  margin: 5px 0;
  font-size: 18px;
  font-weight: normal;
  color: red;
  }